body {
  background-color: #f1f1f1;
}
.emailContainer {
  display: flex;
  width: 400px;
  min-height: 50px;

  margin: 150px auto;
  border-radius: 10px;
  flex-wrap: wrap;
}
.textboxWrapper {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  border-radius: 10px;
  flex-wrap: wrap;
  background-color: #fff;
}
.textboxWrapper input {
  border: none;
  height: 30px;
}
.recipient-item {
  display: inline-flex;
  align-items: center;
  margin: 4px;
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 14px;
  position: relative;
  background-color: white;
}

.recipient-item.invalid {
  background-color: #f8c8c8;
}

.email-text {
  margin-right: 15px;
}

.icon-container {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.invalid-icon {
  background-color: #f44336;
  color: white;
  position: relative;
}

.invalid-icon .icon-remove {
  display: none;
}

.recipient-item.invalid:hover .icon-exclamation {
  display: none;
}

.recipient-item.invalid:hover .icon-remove {
  display: inline;
}

.valid-remove-icon {
  color: #888;
  display: none;
  position: absolute;
  right: 6px;
  top: 4px;
}

.recipient-item.valid:hover .valid-remove-icon {
  display: flex;
  color: #141414;
}
.recipient-item.valid:hover {
  background-color: #e4e4e4;
}
.suggestedEmails {
  list-style-type: none;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  height: 250px;
  overflow-y: scroll;
}
